// Specific CSS for your home-page
.powered-by {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;

  p {
    margin: 0;
    font-family: $headers-font;
    font-weight: bold;
    font-size: 16px;
  }
}