<%# here i have to conect the search icon to activate the search and take me to the employees profile %>
<%# create a div that contains all the cards %>
<%# after employees and the search icon, i have to display all of the cards of all the employees%>
<%# make sure all of them are there by using the index method, perhaps also count%>
<%# the CARD must contain an avatar, the employees full name and a link to his/her profile, make the last one a button %>
<%# all the cards have the same blue color, the background will be white and an orange navbar %>
<%# finally we need a function to scroll down, since there wont be enough space for all employees in one screen alone %>
<%# also remember 360x640 for Android and 375x667 for iOS %>

<div class= "container-fluid">
  <div>
    <h1 class="text-center">Employees</h1>
  </div>
    <%= form_with url: employees_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an employee"
        %>
      <%= submit_tag "Search", class: "btn btn-dark" %>
    <% end %>

  <div>
    <% if !@users.count.negative? %>
      <% @users.each do |user| %>
        <%= render "employee_card", user: user %>
      <% end %>
    <% end %>
  </div>
</div>
