<h1>Save Instruct Dashboard Manager</h1>
<%# TODO : Change the view for Manager and Employee %>

<% if current_user.admin? %>
  <%= button_to "Add Task", new_task_path, :id => "new-task-btn",
      :class => "btn btn-success", :method => :get %>
  <%= link_to "Create employee", new_user_registration_path, class: "btn btn-primary" %>
  <%= link_to "Tasks", tasks_path, class: "btn btn-info" %>
<% else %>
  <%= link_to "Tasks", tasks_path, class: "btn btn-info" %>
<% end %>

<div class="container-fluid text-center">
  <button class="button button-outline-orange">Test</button>
  <button class="button button-outline-purple">Test</button>
  <button class="button button-orange">Test</button>
  <button class="button button-orange">Test</button>
</div>
