<h1>Dashboard</h1>
<%# TODO : Change the view for Manager and Employee %>

<% if current_user.admin? %>

  <%= link_to "Add Task", new_task_path, class: "button button-outline-orange" %>

  <%= link_to "Tasks", tasks_path, class: "button button-outline-orange" %>

  <%= link_to "Create employee", new_user_registration_path, class: "button button-outline-orange" %>

  <%= link_to "Employees List", employees_path, class: "button button-outline-orange" %>

<% else %>
  <% controller.redirect_to tasks_path %>
<% end %>

<div class="container-fluid text-center">
  <button class="button button-outline-orange">Test</button>
  <button class="button button-outline-purple">Test</button>
  <button class="button button-orange">Test</button>
  <button class="button button-orange">Test</button>
</div>
