<div data-controller="edit-step" class="step-card shadow-md" id="<%= counter %>">
  <div>
    <%= render "steps/steps_info", step: step %>
    <%= render "steps/edit", task: step.task, step: step %>
  </div>
</div>
