<div data-controller="edit-step" class="card pt-3 my-1">
  <div class="ps-2">
  <%= render "steps/steps_info", step: step %>
    <%= render "steps/edit", task: step.task, step: step %>
  </div>
</div>
