<div data-edit-step-target="infos" id="<%= step.order %>">
  <p class="step-instruction"><%= step.instruction %></p>
  <p class="text-info"> <%= step.info %></p>
  <button type="button" data-action="click->edit-step#display">Edit Step</button>
</div>
