.button {
  border-radius: 20px;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  font-weight: 700;
  font-size: 1.2em;
  margin: 10px 0;
  filter: drop-shadow(0.1rem 0.1rem 0.05rem rgba(0, 0, 0, 0.5));
}

.button-badge {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $orange;
  color: white;
  padding: 5px;
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-outline-orange {
  background-color: transparent!important;
  border: 0.23rem solid $orange;

}

a.button-outline-orange:hover {
  background-color: $orange-light!important;
}

.button-outline-purple {
  border: 0.23rem solid $purple;
}

a.button-outline-purple:hover {
  background-color: $purple-light!important;
}

.button-orange {
  background-color: $orange;
  border: none;
}

.button-orange:hover {
  color: white!important;
}

a.button-orange:hover {
  color: white!important;
}

.button-purple {
  background-color: $purple;
  border: none;
}

.button-purple:hover {
  color: white!important;
}

a.button-purple:hover {
  color: white!important;
}
