.navbar-lewagon {
  justify-content: space-between;
  padding: 5px 0;
  align-items: center;
  background: $orange;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 33px;
}

.navbar-lewagon .navbar-toggler{
  border: none;
}

.navbar-lewagon .navbar-toggler i {
  color: #000000;
  font-size: 34px;
}

.navbar-toggler-icon {
  background-size: 110%;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-lewagon .nav-item.dropdown {
  list-style: none;
  text-align: right;
  margin: 0;
}

.navbar-lewagon .nav-item.dropdown li {
  padding: 5px;
}
.navbar-lewagon .nav-item.dropdown li a {
  display: inline;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
   outline: 0;
   border: 0;
}
