.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: $orange;
  padding: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 0px;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
   outline: 0;
   border: 0;
}
