.profile-container {
  background-color: $purple-light;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 15px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .profile_avatar {
    text-align: center;
    margin-bottom: 10px;
  }

  .label {
    font-family: $headers-font; // $body-font
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5px;
  }

  .info {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .employee-card {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 15px 0;
    box-shadow: none;
  }
}